name: Python Tests
on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v6
    - name: Install dependencies
      run: |
          python -m venv venv
          source venv/bin/activate 
          pip install --upgrade pip 
          python -m pip install -r requirements.txt
    - name: Run your tests
      run: |
        source venv/bin/activate
        python -m pytest -s
      env:
        GOOGLE_CLOUD_DISABLE_GRPC: true